@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;700&display=swap"); /*---------Reset CSS---------*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------------------------------*/
.start-page__body {
  height: 100vh;
  width: 100%;
  max-height: 1020px;
  background-image: url("../img/start/startbodybackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.start-page__logo {
  padding: 100px 0;
  width: 100%;
  text-align: center;
}
.start-page__logo-img {
  height: 120px;
}
.start-page__header {
  margin: 0 auto;
  position: relative;
  color: #fff;
  padding: 0 0 50px 0;
}
.start-page__header::after {
  content: "";
  position: absolute;
  width: 100px;
  bottom: 0;
  height: 2px;
  background-color: #fff;
  left: 50%;
  margin: 0 0 0 -50px;
}
.start-page__title {
  font-size: 34px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
  font-family: "Lato";
  font-weight: 900;
}
.start-page_subtitle {
  text-align: center;
  font-family: "Lato";
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 5px;
}
.start-page__button {
  padding: 150px 0 80px 0;
  margin: 0 auto;
  width: 100%;
  display: flex;
}
.start-page__button-readmore {
  width: 180px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #fff;
  background: none;
  color: #fff;
}
.start-page__button-readmore:hover {
  background-color: #fff;
  color: #53607f;
}
.start-page__icon-down {
  text-align: center;
}

.menu {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 25px 0;
  border-bottom: 1px solid #e7e7e7;
}
.menu__link {
  color: #3c3c3c;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
}
.menu__link-act {
  color: #ada074;
}

.about {
  padding-top: 100px;
  padding-bottom: 40px;
}
.about__body {
  max-width: 823px;
  margin: 0 auto;
}
.about__header {
  margin: 0 0 65px 0;
}
.about__title {
  margin: 0 0 30px 0;
}
.about__text {
  max-width: 688px;
  color: #868585;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 25.89px;
  margin: 0 auto;
}
.about__row {
  display: flex;
  margin: 0 -15px;
}
.about__column {
  padding: 0 15px;
  flex: 33.333%;
}

.portfolio__body {
  background-color: #f3f3f3;
  padding-top: 100px;
  padding-bottom: 65px;
}
.portfolio__title {
  margin-bottom: 100px;
}
.portfolio__items {
  margin: auto;
  max-width: 1110px;
  margin-bottom: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 30px;
}
.portfolio__img {
  width: 545px;
  height: 360px;
}
.portfolio__button {
  margin: 0 auto;
  background-color: #f3f3f3;
  height: 50px;
  width: 180px;
  border: 1px solid #000;
  display: flex;
}
.portfolio__button-readmore {
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 400;
  font-family: "Lato";
  background: none;
}

.partners__body {
  height: 100vh;
  width: 100%;
  max-height: 385px;
  background-image: url("../img/partners/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
.partners__title {
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Lato";
  text-align: center;
  margin-bottom: 90px;
}
.partners__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.contact__body {
  padding-top: 100px;
  padding-bottom: 60px;
}
.contact__title {
  margin-bottom: 50px;
}
.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 85px;
}
.contact__text {
  width: 255px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 300;
  font-family: "Lato";
}
.contact__links-name {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 300;
  font-family: "Lato";
}
.contact__links-item {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  font-family: "Lato";
}

.footer__body {
  background-color: #3c3c3c;
  padding: 45px 0;
}
.footer__logo {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__links {
  margin-bottom: 30px;
}
.footer__links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.footer__links-list-item {
  font-size: 14px;
  color: #a4a4a4;
  font-weight: 400;
  font-family: "Lato";
}
.footer__rights {
  font-size: 14px;
  color: #6c6c6c;
  font-family: "Myriad Pro";
  text-align: center;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding: 0 0 30px 0;
}
.title::after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 1px;
  left: 50%;
  background-color: #000;
  margin: 0 0 0 -25px;
}

.item-about__icon {
  margin: 0 auto 40px auto;
  width: 92px;
  height: 92px;
  border-radius: 50%;
  border: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-about__title {
  text-align: center;
  color: #000000;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3.52px;
  margin: 0 0 35px 0;
}
.item-about__text {
  text-align: center;
  color: #868585;
  font-weight: 300;
  line-height: 26px;
  width: 183px;
  margin: 0 auto;
}